<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../font/all.min.css">
  <title>Shoppy</title>
</head>

<body>
  <header>
    <nav>
   
    </nav>
  </header>

  <h1>hello world</h1>
  {{!-- script --}}
  {{!-- font awesome --}}
  <script src="../fontjs/all.min.js"></script>
  {{!-- jquery --}}
  <script src="../jq/jquery.js" type="text/javascript"></script>
  {{!-- bootstrap --}}
  <script src="../js/bootstrap.js" type="text/javascript"></script>
  {{!-- script --}}
</body>

</html>